<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Martel+Sans|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <% if(page === '/index') { %>
    <link rel="stylesheet" type="text/css" href="/index-title.css">
    <% } %>
    <title>
        <% if(locals.title) { %>
            <%= title %>
        <% } else if(page==='/index') { %>
            Laaso - Rein in your logs!
        <% } else { %>
            Laaso - <%= page.substring(1); %>
        <% } %>
    </title>

</head>
<body>
<nav>
</nav>
<header>
        <a href='/' id='site-title'>
            <h1>Laaso</h1>
        </a>
        <% if(page === '/index') { %>
            <h2 id='site-subtitle'>Rein in your logs!</h2>
        <% } %>
</header>
<div id='content'>
<%- include('pages/'+ page); %>
</div>
<footer>
<div id='footer-links'>
    <a href='/privacy'>Privacy Policy</a>
    <a href='/docs'>API Documentation</a>
    <a href='/tos'>Terms of Service</a>
    <a href='/support'>Support</a>
</div>
<p id='footer-copyright'>Copyright(©) 2018-2019 Julia Lynn Rogers<br />
Licensed under the Apache license, Version 2.0</p>
</footer>
</body>
</html>
