<style>
.quote {
    margin-bottom: 20px;
}
</style>
<h1>404 - Not Found</h1>

<p>The URL "<%= express.req.originalUrl.substring(1) %>" isn't valid on this server.</p>
<% let splashes=[
'Great, now I have to log this.',
'Uh oh, that link\'s broken.',
'Quoth the server, 404.'
] %>
<p class='quote'><%= splashes[Math.floor(Math.random()*splashes.length)] %></p>

<img src='http://placeholder.pics/svg/300/DEDEDE/555555/Something%20Witty%20Here' />