<div class='logo'></div>

<div class='pitch'>
    <div class='pitch-icon'>
        <img src='' />
    </div>
    <div class='pitch-header'>
        <p>Sane Logging</p>
    </div>
    <div class='pitch-text'>
        <p>Timber is Logging as a Service without all the hassle that comes with options like ELK stacks.<br />
        Just make an account, register your app, use one of our <a href='/wrappers'>API wrappers</a> and you're set!</p>
    </div>
</div>

<div class='pitch'>
    <div class='pitch-icon'>
        <img src='' />
    </div>
    <div class='pitch-header'>
        <p>Consolidated Logs</p>
    </div>
    <div class='pitch-text'>
        <p>So you're a developer with a lot of smaller apps.<br />
        With Timber, everything you care about can be found in one place, all without needing to dig through bulky log files.</p>
    </div>
</div>

<div class='pitch'>
    <div class='pitch-icon'>
        <img src='' />
    </div>
    <div class='pitch-header'>
        <p>Alerts</p>
    </div>
    <div class='pitch-text'>
        <p>Need to know immediately when your apps go offline?<br />
        That try-catch you thought would never error threw something you weren't prepared for?<br />
        Know immediately via email or SMS just by setting up alerts with us.</p>
    </div>
</div>

<div class='pitch'>
    <div class='pitch-icon'>
        <img src='' />
    </div>
    <div class='pitch-header'>
        <p>Analytics</p>
    </div>
    <div class='pitch-text'>
        <p>Because Timber logs are event-based, it's super easy to use Timber as an effective,
        accurate form of analytics. <br />
        Guage your users' interest and engagement so you can learn quicker what keeps them coming.</p>
    </div>
</div>

<div class='pitch long'>
    <div class='pitch-icon'>
        <img src='' />
    </div>
    <div class='pitch-header'>
        <p>Open Source</p>
    </div>
    <div class='pitch-text'>
        <p>Most importantly, <a href='https://git.xetanai.moe/Xetanai/Timber'>Timber is open source software</a>!<br />
        You can use Timber on our servers and we'll do the hosting for you, or you can run it yourself with
        a custom domain name, and even modify it as you like.<br /></p>
    </div>
</div>