<div class'loginprompt'>
    <form action='/register' method='post' enctype='multipart/form-data'>
    Username:<br />
    <input type='text' name='username'/><br />
    Password<br />
    <input type='password' name='password' autocomplete='off' /> <br />
    <input type='submit' value='Register' />
    </form>
</div>